Repository rustformers/llm, pull requests merged in 2023-07, with the labels that each got.

#351 Add placeholder check for message prompt
  binaries/llm-cli/src/cli_args.rs
Labels: issue:enhancement

#362 Update gpt2 to use wte if no lm_head
  crates/ggml/src/context.rs
  crates/models/gpt2/src/lib.rs
  crates/models/gptj/src/lib.rs
  crates/models/gptneox/src/lib.rs
Labels: issue:enhancement, model:gpt-2

#364 allow chat to halt new token generation on `stop_sequence`
  binaries/llm-cli/src/cli_args.rs
  binaries/llm-cli/src/interactive.rs
  binaries/llm-cli/src/main.rs
  binaries/llm-cli/src/util.rs
  crates/llm-base/src/inference_session.rs
  crates/llm-base/src/lib.rs
  crates/llm-base/src/tokenizer/mod.rs
  crates/llm/examples/vicuna-chat.rs
  crates/llm/src/lib.rs
  utils/prompts/pygmalion-message.txt
  utils/prompts/pygmalion-prelude.txt
  utils/prompts/vicuna-message.txt
  utils/prompts/vicuna-prelude.txt
Labels: issue:enhancement, app:cli
